okta:
  oauth2:
    issuer: https://your-okta-org.okta.com/oauth2/default
    client-id: your-client-id
    client-secret: your-client-secret
    pkce-always: false
logging:
  level:
    org:
      springframework:
        web:
          client: DEBUG